@layer fonts{
    /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v48-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
    /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v48-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

:root{
  --fs-heading: calc(56 / 16 * 1rem);
  --fs-heading-Movil: calc(40 / 16 * 1rem);
  --fs-body: calc(16 / 16 * 1rem);
  --fs-small: calc(12 / 16 * 1rem);

  --lh-tight: 100%;
  --lh-normal: 150%;

  --fw-regular: 400;
  --fw-bold: 700;
}

@layer colors {
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-grey: hsl(0, 0%, 58%);
    --c-blue-800: hsl(234, 29%, 20%);
    --c-blue-700: hsl(235, 18%, 26%);
    --c-red: hsl(4, 100%, 67%);
    --c-gradient-start: hsl(15, 100%, 61%);
    --c-gradient-end: hsl(346, 100%, 66%);
    --c-gradient: linear-gradient(
      to right,
      var(--c-gradient-start),
      var(--c-gradient-end)
    );
  }
}

@layer globals {
  *, *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    color: var(--c-blue-800);
    font-size: var(--fs-body);
    margin: 0;
    /* min-height: 50vh; */
  }

  img {
    margin: 0;
    display: block;
    height: auto;
    max-width: 100%;
  }

  h1, h2, h3 {
    margin: 0;
    line-height: var(--lh-tight);
    font-family:'Roboto', Arial, Helvetica, sans-serif;
  }

  p {
    margin: 0;
    line-height: var(--lh-normal);
  }

  ul{
    margin: 0;
    padding: 0;

    li{
      list-style: none;
    }
  }
}

@layer base {
  .input,
  .button {
    font: inherit;
    color: inherit;
  }

  h1 {
    color: var(--c-blue-800);
    font-size: var(--fs-heading-Movil);
    
    @media(min-width >= calc(700 / 16 * 1rem)) {
      font-size: var(--fs-heading);
    }
  }

  .icon{
    margin-right: 16px;
  }

  .checklist li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    line-height: var(--lh-normal);
  }

  .checklist img {
    margin-top: 2px;
    width: 21px;
    height: 21px;
  }

  .form-label{
    font-size: var(--fs-small);
    font-weight: 700;
    line-height: var(--lh-tight);
    margin-bottom: 8px;
  }

  .form-input {
    width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid var(--c-grey);
    margin-bottom: 24px;
  }

  .button {
    width: 100%;
    color: var(--c-white);
    background-color: var(--c-blue-800);
    border-radius: 8px;
    padding: 16px 48px;
    border: none;
    font-weight: 700;
    white-space: nowrap;
  }
}

@layer active {
  .button:active,
  .button:focus {
    background: var(--c-gradient);
  }

  .form-input:focus {
    border-color:  var(--c-blue-800);
    outline: none;
  }
}

@layer error {
  .form-input.error {
  color: var(--c-red);
  background-color: rgb(255, 164, 164);
  border-color: var(--c-red);
  }

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .error-message {
    font-size: var(--fs-small);
    font-weight: 700;
    color: var(--c-red);
    display: none;
    margin-bottom: 8px;
  }
}


@layer layout {
  .page-wrapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--c-blue-700);
    min-height: 100vh;

    @media(width >= calc(700 / 16 * 1rem)) {
      padding-block: clamp(16px, 5vw, 120px);  
      padding-inline: clamp(16px, 7vw, 160px); 
      }
  }

  .newsletter-card {
    background-color: var(--c-white);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;

    @media(width >= calc(700 / 16 * 1rem)){
      min-height: auto;
      width: 608px;
      height: 878px;
      padding: 43px 40px;
      border-radius: 36px;
    }

    @media(width >= calc(1000 / 16 * 1rem)) {
      flex-direction: row;
      align-items: stretch;
      padding: 24px 32px;
      width: 900px;
      height: 640px;
      margin-inline: auto;
      min-height: auto;
      }
    }

    .card-img {
      width: 100%; 
      height: 100%; 
      margin-bottom: 40px;

       @media(width >= calc(1000 / 16 * 1rem)) {
         flex: 1;
         display: flex;
         object-fit: cover;
         order: 2;
       }

    }

    .card-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;

       @media(width >= calc(1000 / 16 * 1rem)) {
        width: auto;
        height: auto;
        object-fit: cover;
       }
    }

    .info {
      flex: 1;
      padding-inline: 24px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media(width >= calc(1000 / 16 * 1rem)) {
       padding-block: 71px;
      }
    }
    
    .card-text {
      display: flex;
      flex-direction: column;
      gap: 24px;

       @media(width >= calc(1000 / 16 * 1rem)) {
          width: 100%;
          height: 100%;
      }
    }

    .card-form {
      grid-column: 1;
    }

   .checklist{
    display: flex;
    flex-direction: column;
    gap: 8px;
   }
}

@layer success {
  .success-card {
    width: 100%;
    background-color: var(--c-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding-inline: 24px;

    @media(width >= calc(700 / 16 * 1rem)) {
      height: 520px;
      width: 504px;
      min-height: auto;
      border-radius: 36px;
    }
  }

  .heading-success {
    font-size: var(--fs-heading);
  }

  .email-link {
    color: var(--c-blue-800);
    font-weight: 700;
    text-decoration: none;

  }
}

@layer attribution {
  .attribution-link {
    color: var(--c-blue-800);
    font-weight: 700;
    text-decoration-thickness: 2px;
  }

  .attribution {
    font-weight: 700;
    margin-top: 8px;
    font-size: var(--fs-small);
  }
}
